<!DOCTYPE html>
<html lang="en">
	<body>
		{% load static %}
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'musicrater/style.css' %}"
		/>
		<div class="h-center v-center">
			<h1>music-db</h1>
			<h2>Registration</h2>
			<div>
				<form action="{% url 'musicrater:register' %}" method="POST">
					{% csrf_token %}
					<label for="name">Username:</label>
					<input type="text" id="username1" name="name" /><br>

					<label for="pwd">Password:</label>
					<input type="text" id="password" name="pwd" /><br>
					{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
					<input
						class="button black-text-bg white-text"
						type="submit"
						value="Register"
						name="Register"
					/>
				</form>
			</div>
			<h2>Retrieve Songs By Username</h2>
			<div>
				<form action="{% url 'musicrater:retrieve' %}" method="POST">
					{% csrf_token %}
					<label for="name">Username:</label>
					<input type="text" id="user-ret" name="name" /><br>
					<input
						class="button black-text-bg white-text"
						type="submit"
						value="Retrieve"
						name="retRating"
					/>
				</form>
				{% if user_reviews %}
						<p> {{ usr }}'s review: </p>
				    {% for review in user_reviews %}
				        {{ review.song.song }} -> {{ review.rating }} <br>
				    {% endfor %}

				{% else %}
				    <p>{{ review_err_msg }}</p>
				{% endif %}
			</div>
		</div>
	</body>
</html>
