.black-text-bg {
	background-color: black;
	padding: 0 10px !important;
	width: fit-content;
	text-align: center;
}

.white-text {
	color: white;
}

.h-center {
	position: relative;
	text-align: center;
	width: 100;
	margin: auto;
	margin-top: 10px;
}

body {
	width: 100%;
	min-height: 100vh;
	margin: 0;
	font-family: "Helvetica Neue", "Arial", sans-serif;
}

div:hover {
	cursor: default;
}

.button:hover {
	cursor: pointer;
}

html {
	scroll-behavior: smooth;
}

p {
	font-family: "Helvetica Neue", "Arial", sans-serif;
	font-weight: 1000;
	font-variant-ligatures: normal;
	font-size: 1.2rem;
	line-height: 1.8rem;
}

h1 {
	font-size: 5rem !important;
	margin: auto;
	position: sticky;
}

.v-center {
	padding-top: 17vh;
}

input {
	border-style: groove;
	border-color: black;
}

/* 
.no-outline:focus {
	outline: none;
} */
